/* 
/* 
	Section Background (bg.css)
	
	Table of Content
	- general settings for section & subheader
	- background settings for section
	- media query
/*


/* background settings for section */
#section-hero {background:url(../images/background/bannerPro.png) fixed;}


/* media query */
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait){
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 430px) {
	#subheader{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:scroll;
	}
	#section-hero {
		background:url(../images/background/bannerProMovil.png) 
		fixed;
	}
	
}
@media only screen and (max-width: 992px) {
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}
